.chat-bubble {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 70%;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}


.outgoing {
    background-color: #dcf8c6;
}

.incoming {
    background-color: hsl(214, 100%, 88%);
}


#inputButton {
    font-size: 30px;
    padding: 6px 15px 6px 15px;
    margin: 0;
}

.logout-btn {
    position: absolute;
    top: 0;
    right: 20px;
}

.absoluteElementContainer{
 position: relative;
}

#topLeft{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 25%;
}
#topRight{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 75%;
}

#mainContainer{
    margin-top: 50px
}

header{
    height: 50px;
}

.left,.right{
    height: 100%;
}
.left{
    max-width: 500px;
}


.vessel{
    max-width: 1200px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }

.toolbar{
    height:50px;
}



@media screen and (max-width: 750px) {
    .button-container{
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .dropdown-container{
        display: none;
    }
}



.inputForm{
    position:fixed;
    bottom: 0;
    max-width: 700px;
}

#toggleMode{
    width: 50px;
    height: 50px; 
}

.svg{
    width: 25px;
    height: 25px;
}



/* dark mode stuff */

/* .darkButton{
    background-color:#212529;
    color:#ffffffd2;
}


.darkButton:hover{
    background-color:#212529;
    color: #fff;
}

.darkButton:focus{
    
    background-color:#212529;
    color:#ffffffd2;
    
}


.darkInputButton{
 background-color:#212529;
    color:#ffffffd2;
}

.darkInputButton:hover{
    background-color:#212529;
    color: #fff;  
}

input#input{
     background-color: #49494900; 
    color: #ffffffd2;;
    border: 1px solid #ffffffd2;;

}

label{
    color: #ffffffd2;
} */